@import "tailwindcss";


body {
  font-family: "Arial", Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/images/bg.png");
}


.option input {
  display: none;
}

.income {
  background-color: #d4edda;
  color:#3eba9b;
}

.expense {
  background-color: #f8d7da;
  color: #ec735d;
}

.option input:checked + .income {
  background-color: #28a745;
  color: #fff;
  border: 1px solid green;
}

.option input:checked + .expense {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid red;
}
